;; shadow-cljs configuration
{:deps true

 :builds
 {:android {:target :react-native
            :init-fn awesome-project.core/init
            :compiler-options {:reader-features #{:android}}
            :output-dir "compiled-android-js"}
  :ios {:target :react-native
        :init-fn awesome-project.core/init
        :compiler-options {:reader-features #{:ios}}
        :output-dir "compiled-ios-js"}}}
